<?php
/*
 * PagarmeCoreApiLib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */

namespace PagarmeCoreApiLib\Controllers;

use PagarmeCoreApiLib\APIException;
use PagarmeCoreApiLib\APIHelper;
use PagarmeCoreApiLib\Configuration;
use PagarmeCoreApiLib\Http\HttpRequest;
use PagarmeCoreApiLib\Http\HttpResponse;
use PagarmeCoreApiLib\Http\HttpMethod;
use PagarmeCoreApiLib\Http\HttpContext;
use Unirest\Request;


class TdsTokenController extends BaseController
{
    /**
     * @var TdsTokenController The reference to *Singleton* instance of this class
     */
    private static $instance;

    /**
     * Returns the *Singleton* instance of this class.
     * @return TdsTokenController The *Singleton* instance.
     */
    public static function getInstance()
    {
        if (null === static::$instance) {
            static::$instance = new static();
        }

        return static::$instance;
    }

    /**
     * @param string $environment
     * @param string $accountId
     * @return mixed response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function getToken(
        $environment,
        $accountId
    ) {

        //prepare query string for API call
        $_queryBuilder = '{environment}/3ds2/internal/{account_id}/tds-token';

        //process optional query parameters
        $_queryBuilder = APIHelper::appendUrlWithTemplateParameters($_queryBuilder, [
            'account_id' => $accountId,
            'environment' => $environment
        ]);

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl(Configuration::$BASEURI. $_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => BaseController::USER_AGENT,
            'Accept'        => 'application/json'
        );
        //set HTTP basic auth parameters
        Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::GET, $_headers, $_queryUrl);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::get($_queryUrl, $_headers);

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);

        $mapper = $this->getJsonMapper();

        return $mapper->mapClass($response->body, 'PagarmeCoreApiLib\\Models\\GetTdsTokenResponse');
    }

    // /**
    //  * Endpoint do fluxo 3DS-NX
    //  */
    // public function getTdsTokenNx($environment, $accountId)
    // {
    //     $_queryBuilder = '{environment}/v2/management/tds-token';

    //     $_queryBuilder = APIHelper::appendUrlWithTemplateParameters($_queryBuilder, [
    //         'account_id' => $accountId,
    //         'environment' => $environment
    //     ]);

    //     $_queryUrl = APIHelper::cleanUrl(Configuration::$BASEURI . $_queryBuilder);

    //     $_headers = array (
    //         'user-agent' => BaseController::USER_AGENT,
    //         'Accept'     => 'application/json'
    //     );

    //     Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

    //     $_httpRequest = new HttpRequest(HttpMethod::GET, $_headers, $_queryUrl);
    //     if ($this->getHttpCallBack() != null) {
    //         $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
    //     }

    //     $response = Request::get($_queryUrl, $_headers);

    //     $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
    //     $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

    //     if ($this->getHttpCallBack() != null) {
    //         $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
    //     }

    //     $this->validateResponse($_httpResponse, $_httpContext);

    //     $mapper = $this->getJsonMapper();
    //     return $mapper->mapClass($response->body, 'PagarmeCoreApiLib\\Models\\GetTdsTokenResponse');
    // }

    /**
     * Endpoint do fluxo 3DS-NX (POST) via Hub-Api
     *
     * @param string $environment ('live' ou 'test')
     * @param string $accountId
     * @return GetTdsTokenResponse
     * @throws APIException
     */
    public function getTdsTokenNx(
        $environment,
        $accountId
    ) {
        // URL idêntica ao log de produção do Hub-Api
        $_queryUrl = 'https://hubapi.pagar.me/v2/management/tds-token';

        // Garante o formato do ambiente ('test' ou 'live')
        $hubEnv = ($environment === 'test' || $environment === 'sandbox') ? 'test' : 'live';

        // Headers idênticos aos exigidos pelo Hub-Api
        $_headers = array (
            'user-agent'        => BaseController::USER_AGENT,
            'Accept'            => '*/*',
            'Content-Type'      => 'application/json',
            'x-hub-environment' => $hubEnv
        );

        // Body real: a chave DEVE ser 'merchant_id'
        $_bodyBuilder = array(
            'merchant_id' => $accountId
        );
        $_body = json_encode($_bodyBuilder);

        // Autenticação Basic Auth
        Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

        // Instancia a requisição POST
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        try {
            $response = Request::post($_queryUrl, $_headers, $_body);

            $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
            $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

            if ($this->getHttpCallBack() != null) {
                $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
            }

            $this->validateResponse($_httpResponse, $_httpContext);

            $mapper = $this->getJsonMapper();
            return $mapper->mapClass($response->body, 'PagarmeCoreApiLib\\Models\\GetTdsTokenResponse');

        } catch (\PagarmeCoreApiLib\APIException $e) {
            $errorDetail = sprintf(
                "Status HTTP: %s | Message: %s | URL: %s",
                $e->getResponseCode(),
                $e->getMessage(),
                $_queryUrl
            );
            throw new \Exception($errorDetail, $e->getCode(), $e);
        } catch (\Throwable $e) {
            throw new \Exception("Erro genérico na API: " . $e->getMessage(), $e->getCode(), $e);
        }
    }

    // /**
    //  * Endpoint do fluxo 3DS-NX (POST)
    //  *
    //  * @param string $environment
    //  * @param string $accountId
    //  * @return GetTdsTokenResponse
    //  * @throws APIException
    //  */
    // public function getTdsTokenNx(
    //     $environment,
    //     $accountId
    // ) {
    //     // Rota base do endpoint
    //     $_queryBuilder = '/v2/management/tds-token';
    //     $_queryUrl = APIHelper::cleanUrl(Configuration::$BASEURI . $_queryBuilder);

    //     // Headers para POST JSON
    //     $_headers = array (
    //         'user-agent'   => BaseController::USER_AGENT,
    //         'Accept'       => 'application/json',
    //         'Content-Type' => 'application/json; charset=utf-8'
    //     );

    //     // Body da requisição POST (Enviando apenas o account_id)
    //     $_bodyBuilder = array(
    //         'account_id' => $accountId
    //     );
    //     $_body = json_encode($_bodyBuilder);

    //     // Autenticação Basic Auth
    //     Request::auth(Configuration::$basicAuthUserName, Configuration::$basicAuthPassword);

    //     // Instancia a requisição como POST
    //     $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl);
    //     if ($this->getHttpCallBack() != null) {
    //         $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
    //     }

    //     try {
    //         $response = Request::post($_queryUrl, $_headers, $_body);

    //         $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
    //         $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

    //         if ($this->getHttpCallBack() != null) {
    //             $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
    //         }

    //         $this->validateResponse($_httpResponse, $_httpContext);

    //         $mapper = $this->getJsonMapper();
    //         return $mapper->mapClass($response->body, 'PagarmeCoreApiLib\\Models\\GetTdsTokenResponse');

    //     } catch (\PagarmeCoreApiLib\APIException $e) {
    //         // Captura segura dos detalhes do erro
    //         $errorDetail = sprintf(
    //             "Status HTTP: %s | Message: %s | URL: %s",
    //             $e->getResponseCode(),
    //             $e->getMessage(),
    //             $_queryUrl
    //         );
    //         throw new \Exception($errorDetail, $e->getCode(), $e);
    //     } catch (\Throwable $e) {
    //         throw new \Exception("Erro genérico na API: " . $e->getMessage(), $e->getCode(), $e);
    //     }
    // }
}
