$prefix             : pagarme;

// - Variables > Grid
$mobile 			: 533px;
$tablet 			: 769px;

// - Variables > Colors
$colorWhite         : #ffffff;
$colorCheckboxOn    : #2fb175;
$colorCheckboxOff   : #ea6262;
$colorPrimary       : #45c0be;
$colorButton        : #008EC2;
$colorButtonHover   : #00a0d2;

// - Variables > Fonts

$fontPrimary		: "Times New Roman", sans-serif;
$fontPrimaryBold	: Tahoma, sans-serif;
$fontSecondary		: Arial, sans-serif;
$fontIcon           : $prefix;

// - Variables > Font Size
$fontSizeDefault 	: 16px;
