.pagarme-notice {
    display: inline-flex;
    align-items: center;
}

.pagarme-notice .pagarme-notice-avatar-container {
    max-height: 2em;
}

.pagarme-notice .pagarme-notice-avatar-container img.pagarme-notice-avatar {
    max-height: 2em;
    margin-right: 1em;
}

.pagarme-notice .pagarme-notice-message-container a.button {
    margin-right: 1em;
    cursor: pointer;
}

.pagarme-notice .pagarme-notice-message-container a.button:last-child {
    margin-right: 0;
}

.pagarme-notice .pagarme-notice-message-container ul {
    margin-left: 1.5em;
    list-style: inside;
}

.pagarme-notice .pagarme-notice-message-container ul li {
    font-style: italic;
}
