.form-table td p.pagarme-hub-desintegration {
    margin: 1em 0 0;
    font-style: italic;
}

.form-table td p.pagarme-hub-desintegration > a {
    font-weight: 700;
    cursor: pointer;
}

.pagarme-hub-integration-btn > a > img {
    vertical-align: text-top;
    max-height: 1.4em;
    margin-left: .6em;
}

.pagarme-message-warning {
    margin: 1em 0 0;
    padding: 1em;
    background: #fae5e5;
    color: #e02b27;
}

.woocommerce_page_woo-pagarme-payments .swal2-modal {
    line-height: normal;
}

.woocommerce_page_woo-pagarme-payments .swal2-modal .swal2-title {
    margin-bottom: 0.6em;
}

.woocommerce_page_woo-pagarme-payments .swal2-modal .swal2-content {
    line-height: 1.3em;
}

#woo-pagarme-additional-information table.woocommerce-table {
    max-width: 100%;
}

#woo-pagarme-additional-information table.woocommerce-table thead th {
    padding: 1.41575em;
    text-align: center;
}

#woo-pagarme-additional-information table.woocommerce-table td {
    padding: 1em 1.41575em;
    background-color: #fdfdfd;
}

#woo-pagarme-additional-information table.woocommerce-table th {
    padding: 1em 1.41575em;
    text-align: left;
    font-weight: 600;
    background-color: #f8f8f8;
}

#woo-pagarme-capture .wrapper table {
    width: 100%;
}

#woo-pagarme-capture .wrapper table thead th {
    text-align: left;
    padding: 1em;
    font-weight: 600;
    background: #f8f8f8;
}

#woo-pagarme-capture .wrapper table thead th.sortable {
    cursor: pointer;
}

#woo-pagarme-capture .wrapper table thead th:last-child {
    padding-right: 2em;
}

#woo-pagarme-capture .wrapper table thead th:first-child {
    padding-left: 2em;
}

#woo-pagarme-capture .wrapper table thead th .wc-arrow {
    float: right;
    position: relative;
    margin-right: -1em;
}

#woo-pagarme-capture .wrapper table tbody tr td {
    padding-top: .6em;
}

#woo-pagarme-capture .wrapper table tbody th textarea,
#woo-pagarme-capture .wrapper table td textarea {
    width: 100%;
}

#woo-pagarme-capture .wrapper table tbody th input,
#woo-pagarme-capture .wrapper table tbody th textarea,
#woo-pagarme-capture .wrapper table td input,
#woo-pagarme-capture .wrapper table td textarea {
    font-size: 14px;
    padding: 4px;
    color: #555;
}

#woo-pagarme-capture .wrapper table tbody th:last-child,
#woo-pagarme-capture .wrapper table td:last-child {
    padding-right: 2em;
}

#woo-pagarme-capture .wrapper table tbody th:first-child,
#woo-pagarme-capture .wrapper table td:first-child {
    padding-left: 2em;
}
