.hub_button_integration-field > div {
    display: inline;
}

.pagarme-hub-desintegration-btn {
    margin-left: .6em;
}

.pagarme-hub-integration-btn img {
    vertical-align: text-top;
    max-height: 1.4em;
    margin-left: .6em;
}

.pagarme-message-warning {
    margin: 1em 0 0;
    padding: 1em;
    background: #fae5e5;
    color: #e02b27;
}