#mainform .#{$prefix}-field-error {
	background-color: #f2dede;
	border-color: #ebccd1;
	box-shadow: 1px 1px #ebccd1;
}

#woo-pagarme-capture {
	.inside {
		display: block !important;
	}

	.wrapper {
		margin: 0;
		overflow-x: auto;

		table {
			width: 100%;
			background: #fff;

			thead th {
				text-align: left;
				padding: 1em;
				font-weight: normal;
				color: #999;
				background: #f8f8f8;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				&.sortable {
					cursor: pointer;
				}
				&:last-child {
					padding-right: 2em;
				}
				&:first-child {
					padding-left: 2em;
				}
				.wc-arrow {
					float: right;
					position: relative;
					margin-right: -1em;
				}
			}

			tbody th, td {
				padding: 1.5em 1em 1em;
				text-align: left;
				line-height: 1.5em;
				vertical-align: top;
				border-bottom: 1px solid #f8f8f8;

				textarea {
					width: 100%;
				}

				input, textarea {
					font-size: 14px;
					padding: 4px;
					color: #555;
				}
				&:last-child {
					padding-right: 2em;
				}
				&:first-child {
					padding-left: 2em;
				}
			}

			tbody tr {
				&.selected {
					background: #f5ebf3;
					td {
						border-color: #e6cce1;
						opacity: 0.8;
					}
				}
			}

			tbody tr:last-child td {
				border-bottom: 1px solid #dfdfdf;
			}

			tbody tr:first-child td {
				border-top: 8px solid #f8f8f8;
			}

			tbody.items tr:first-child td {
				border-top: none;
			}

			.action {
				text-align: center;
			}
		}
	}
}
