#wcmp-checkout-form {

	.panel {
		.invalid {
			border: 1px solid #da3c39;
			box-shadow: 1px 1px 3px #da3c39;
		}

		input[type="text"] {
			width: 200px;
		}

		input, select {
			margin: 0;
		}

		ul {
			list-style: none;
			margin: 0 0 10px;
			padding: 0;
		}

		li {
			margin: 0 20px 0 0;
			float: left;
			text-align: center;
		}

		label img {
			display: block;
		}

		.form-group-wrap {
			margin-bottom: 10px;
		}

		.form-group {
			float: left;
			margin-right: 10px;

			label {
				display: block;
			}

			input, select {
				float: left;
			}

			.description {
				color: #666;
				display: block;
				font-size: 80%;
			}
		}
	}

	#tab-credit-card .form-group-wrap {
		display: none;
	}

	#payment .payment_methods li .logo {
		max-height: 100%;
		float: left;
    	width: 60px;
	}

	label[for="save-credit-card"] {
		cursor: pointer;
	}

	.form-row-wide {
    	display: inline-block;
	}
}

#wcmp-checkout-form #payment-type a {
	text-indent: 15px;
}

.wcmp-hide-field {
	display: none;
}

.woocommerce-message, .woocommerce-error {

	.pagarme-response {

		text-align: center;

		.title { font-weight: bold; }

		.payment-link {
		    background: #333;
		    border-radius: 4px;
			cursor: pointer;
		    display: block;
		    font-weight: bold;
		    margin: 20px auto 20px auto;
		    padding: 6px;
		    text-align: center;
		    width: 200px;
		}
	}

}

#wcmp-checkout-errors {
	display: none;
}


.payment_method_woo-pagarme-payments img {
	max-height: 1.618em !important;
}
