.pagarme-hidden {
    display: none !important;
}

#wcmp-checkout-errors {
    display: none;
}

#payment .payment_methods li[class*="pagarme"] .payment_box fieldset {
    font-size: 1em;
}

#payment .payment_methods li[class*="pagarme"] .payment_box fieldset legend {
    display: none;
}

#payment .payment_methods li[class*="pagarme"] .payment_box fieldset label {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1em;
}

#payment .payment_methods li[class*="pagarme"] input[type=text],
#payment .payment_methods li[class*="pagarme"] input[type=number],
#payment .payment_methods li[class*="pagarme"] input[type=email],
#payment .payment_methods li[class*="pagarme"] input[type=tel],
#payment .payment_methods li[class*="pagarme"] input[type=url],
#payment .payment_methods li[class*="pagarme"] input[type=password],
#payment .payment_methods li[class*="pagarme"] input[type=search],
#payment .payment_methods li[class*="pagarme"] select,
#payment .payment_methods li[class*="pagarme"] textarea,
#payment .payment_methods li[class*="pagarme"] .input-text {
    width: 100%;
    height: 2.8em;
    padding: 0.6em;
    font-size: 1em;
    z-index: unset;
}

#payment ul.payment_methods li[class*="pagarme"] p img.logo {
    margin: 0;
}

.wc-block-checkout__payment-method .wc-block-components-radio-control .wc-block-components-radio-control-accordion-content p.pagarme-payment-method-instructions {
    margin-bottom: .75em;
}

.wc-block-checkout__payment-method .wc-block-components-radio-control .wc-block-components-radio-control-accordion-content p.pagarme-payment-method-logo {
    display: flex;
    justify-content: right;
    margin-bottom: .5em;
}

.wc-block-checkout__payment-method .wc-block-components-radio-control .wc-block-components-radio-control-accordion-content p img.logo {
    border: 0;
    padding: 0;
}

#payment .payment_methods li[class*="pagarme"] .payment_box fieldset .form-row input[type=checkbox] {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
}

#payment .payment_methods li[class*="pagarme"] .payment_box .wc-credit-card-form-card-number {
    padding-right: 3.714em;
}

#payment .payment_methods li[class*="pagarme"] img,
.wc-block-checkout__payment-method .wc-block-components-radio-control .wc-block-components-radio-control-accordion-content img {
    max-height: 2em;
}

#payment .payment_methods li[class*="pagarme"] .payment_box .pagarme-brand-image {
    display: block;
    position: relative;
}

#payment .payment_methods li[class*="pagarme"] .payment_box .pagarme-brand-image img {
    position: absolute;
    right: 0.6em;
    top: 50%;
    margin-top: -0.8em;
    max-height: 1.6em;
    background-color: #fff;
    pointer-events: none;
}

#payment .payment_methods li[class*="pagarme"] .payment_box .pagarme-installments-info {
    display: block;
    margin: 0 .75em .25em;
    font-size: .9em;
    font-style: italic;
}

.pagarme_creditcard_divider{
    margin: 1em 0 0;
}

.pagarme_creditcard_divider p {
    display: flex;
    flex-direction: row;
}

.pagarme_creditcard_divider p:after,  
.pagarme_creditcard_divider p:before {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}
.pagarme_creditcard_divider p:after {
    margin-left: 0.5em;
}

.pagarme_creditcard_divider p:before {
    margin-right: 0.5em;
}

.woocommerce-order .woocommerce-message .pagarme-response p:last-child {
    margin-bottom: 0;
}

.woocommerce-order .woocommerce-message .pagarme-response .pagarme-qr-code-img {
    display: block;
    margin: 0 auto;
}

.woocommerce-order .woocommerce-message .pagarme-response .pagarme-payment-button {
    display: block;
    margin: 1em auto;
}

.woocommerce-order .woocommerce-message .pagarme-response .pagarme-flex-container {
    --gutter-x: 1.5rem;
    --gutter-y: 1em;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--gutter-y));
    margin-right: calc(-.5 * var(--gutter-x));
    margin-bottom: calc(2 * var(--gutter-y));
    margin-left: calc(-.5 * var(--gutter-x));
}

.woocommerce-order .woocommerce-message .pagarme-response .pagarme-flex-container > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--gutter-x) * .5);
    padding-left: calc(var(--gutter-x) * .5);
    margin-top: var(--gutter-y);
    margin-bottom: calc(var(--gutter-x) * .25);
}

.woocommerce-order .woocommerce-message .pagarme-response .pagarme-qr-code-attention {
    width: 100% !important;
}

.woocommerce-order .woocommerce-message .pagarme-response .pagarme-qr-code-instruction > p {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, .15);
    border-radius: 4px;
    padding: calc(var(--gutter-x) * .5);
    background-color: rgba(0, 0, 0, .15);
    box-shadow: 0 0 3rem inset rgba(0, 0, 0, .15);
}

.woocommerce-order .woocommerce-message .pagarme-response .pagarme-qr-code-instruction > p > span {
    height: 1em;
    white-space: nowrap;
    font-size: 2em;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: calc(var(--gutter-x) * .25);
}

.woocommerce-order .woocommerce-message .pagarme-response .pagarme-qr-code-instruction > p > span > img {
    min-width: 2rem;
}

.pagarme-installments-combobox .wc-block-components-combobox .wc-block-components-combobox-control .components-flex {
    height: initial;
    padding-left: 0;
    padding-right: 0;
}

.pagarme-credit-card-number-container input {
    padding-right: 4.2em !important;
}

.pagarme-credit-card-number-container img {
    position: absolute;
    top: 50%;
    right: .5em;
    margin-top: -1em;
    background-color: #fff;
    pointer-events: none;
    touch-action: none;
}

.challengeIframeElement {
    display: none;
    position: fixed;
    z-index: 99999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.challengeIframeElement .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: fit-content;
}

#challengeIframe {
    display: none;
    width: 500px;
    height: 600px;
    border: 0;
}

/* sm  */
/* @media (min-width: 576px) {

} */

/* md  */
@media (min-width: 768px) {
    .woocommerce-order .woocommerce-message .pagarme-response .pagarme-flex-container > * {
        width: 50%;
    }
}

/* lg  */
@media (min-width: 992px) {
    .woocommerce-order .woocommerce-message .pagarme-response .pagarme-flex-container > * {
        width: 25%;
    }
}

/* xl  */
/* @media (min-width: 1200px) {

} */

/* xxl  */
/* @media (min-width: 1400px) {

} */
