---
name: MegaLinter

on:
    workflow_call:
        inputs:
            GRAFANA_API_REPORTER_URL:
                type: string
            GRAFANA_API_REPORTER_METRICS_URL:
                type: string
            API_REPORTER_DEBUG:
                type: boolean
                default: false
            API_REPORTER:
                type: boolean
                default: false
            DEFAULT_BRANCH:
                type: string
                default: "main"
            APPLY_FIXES_IF_PR:
                type: boolean
                default: false
            RUNS_ON:
                type: string
                default: ubuntu-latest

        secrets:
            GRAFANA_API_REPORTER_BASIC_AUTH_USERNAME:
                required: false
            GRAFANA_API_REPORTER_TOKEN:
                required: false
            GRAFANA_API_REPORTER_METRICS_BASIC_AUTH_USERNAME:
                required: false


# Comment env block if you do not want to apply fixes
env:
    API_REPORTER: ${{ inputs.API_REPORTER }}
    API_REPORTER_URL: ${{ inputs.GRAFANA_API_REPORTER_URL }}
    API_REPORTER_BASIC_AUTH_USERNAME: ${{ secrets.GRAFANA_API_REPORTER_BASIC_AUTH_USERNAME }}
    API_REPORTER_BASIC_AUTH_PASSWORD: ${{ secrets.GRAFANA_API_REPORTER_TOKEN }}
    API_REPORTER_METRICS_URL: ${{ inputs.GRAFANA_API_REPORTER_METRICS_URL }}
    API_REPORTER_METRICS_BASIC_AUTH_USERNAME: ${{ secrets.GRAFANA_API_REPORTER_METRICS_BASIC_AUTH_USERNAME }}
    API_REPORTER_METRICS_BASIC_AUTH_PASSWORD: ${{ secrets.GRAFANA_API_REPORTER_TOKEN }}
    API_REPORTER_DEBUG: ${{ inputs.API_REPORTER_DEBUG }}
    SARIF_REPORTER: true
    APPLY_FIXES_IF_PR: ${{ inputs.APPLY_FIXES_IF_PR }}

concurrency:
    group: ${{ github.ref }}-${{ github.workflow }}
    cancel-in-progress: true

permissions: write-all

jobs:
    megalinter:
        name: MegaLinter
        runs-on: ${{ inputs.RUNS_ON }}

        # Give the default GITHUB_TOKEN write permission to commit and push, comment
        # issues & post new PR; remove the ones you do not need
        steps:
            # Git Checkout
            - name: Checkout Code
              uses: actions/checkout@v4
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}

                  # If you use VALIDATE_ALL_CODEBASE = true, you can remove this line to
                  # improve performance
                  fetch-depth: 0

            # MegaLinter
            - name: MegaLinter

                # You can override MegaLinter flavor used to have faster performances
                # More info at https://megalinter.io/latest/flavors/
              uses: oxsecurity/megalinter@v8

              id: ml

                # All available variables are described in documentation
                # https://megalinter.io/latest/configuration/
              env:
                  # Validates all source when push on main, else just the git diff with
                  # main. Override with true if you always want to lint all sources
                  #
                  # To validate the entire codebase, set to:
                  # VALIDATE_ALL_CODEBASE: true
                  #
                  # To validate only diff with main, set to:
                  # VALIDATE_ALL_CODEBASE: >-
                  #   ${{
                  #     github.event_name == 'push' &&
                  #     contains(fromJSON('["refs/heads/main", "refs/heads/master"]'), github.ref)
                  #   }}
                  VALIDATE_ALL_CODEBASE: >-
                      ${{
                        github.event_name == 'push' &&
                        contains(fromJSON('["refs/heads/${{inputs.DEFAULT_BRANCH}}"]'), github.ref)
                      }}

                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

                  # ADD YOUR CUSTOM ENV VARIABLES HERE OR DEFINE THEM IN A FILE
                  # .mega-linter.yml AT THE ROOT OF YOUR REPOSITORY

                  # Uncomment to disable copy-paste and spell checks
                  # DISABLE: COPYPASTE,SPELL

            # Upload MegaLinter artifacts
            - name: Archive production artifacts
              if: success() || failure()
              uses: actions/upload-artifact@v4
              with:
                  name: MegaLinter reports
                  include-hidden-files: "true"
                  path: |
                      megalinter-reports
                      mega-linter.log

            # Set APPLY_FIXES_IF var for use in future steps
            - name: Set APPLY_FIXES_IF var
              run: |
                  printf 'APPLY_FIXES_IF=%s\n' "${{
                    steps.ml.outputs.has_updated_sources == 1 &&
                    (
                      env.APPLY_FIXES_EVENT == 'all' ||
                      env.APPLY_FIXES_EVENT == github.event_name
                    ) &&
                    (
                      github.event_name == 'push' ||
                      github.event.pull_request.head.repo.full_name == github.repository
                    )
                  }}" >> "${GITHUB_ENV}"

            # Set APPLY_FIXES_IF_* vars for use in future steps
            - name: Set APPLY_FIXES_IF_* vars
              run: |
                  printf 'APPLY_FIXES_IF_PR=%s\n' "${{
                    env.APPLY_FIXES_IF == 'true' &&
                    env.APPLY_FIXES_MODE == 'pull_request'
                  }}" >> "${GITHUB_ENV}"
                  printf 'APPLY_FIXES_IF_COMMIT=%s\n' "${{
                    env.APPLY_FIXES_IF == 'true' &&
                    env.APPLY_FIXES_MODE == 'commit' &&
                    (!contains(fromJSON('["refs/heads/${{ inputs.DEFAULT_BRANCH }}"]'), github.ref))
                  }}" >> "${GITHUB_ENV}"

            # Create pull request if applicable
            # (for now works only on PR from same repository, not from forks)
            - name: Create Pull Request with applied fixes
              uses: peter-evans/create-pull-request@v6
              id: cpr
              if: env.APPLY_FIXES_IF_PR == 'true'
              with:
                  token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
                  commit-message: "[MegaLinter] Apply linters automatic fixes"
                  title: "[MegaLinter] Apply linters automatic fixes"
                  labels: bot

            - name: Create PR output
              if: env.APPLY_FIXES_IF_PR == 'true'
              run: |
                  echo "PR Number - ${{ steps.cpr.outputs.pull-request-number }}"
                  echo "PR URL - ${{ steps.cpr.outputs.pull-request-url }}"

            # Push new commit if applicable
            # (for now works only on PR from same repository, not from forks)
            - name: Prepare commit
              if: env.APPLY_FIXES_IF_COMMIT == 'true'
              run: sudo chown -Rc $UID .git/

            - name: Commit and push applied linter fixes
              uses: stefanzweifel/git-auto-commit-action@v4
              if: env.APPLY_FIXES_IF_COMMIT == 'true'
              with:
                  branch: >-
                      ${{
                        github.event.pull_request.head.ref ||
                        github.head_ref ||
                        github.ref
                      }}
                  commit_message: "[MegaLinter] Apply linters fixes"
                  commit_user_name: megalinter-bot
                  commit_user_email: 129584137+megalinter-bot@users.noreply.github.com

            - name: Upload MegaLinter scan results to GitHub Security tab
              if: success() || failure()
              continue-on-error: true
              uses: github/codeql-action/upload-sarif@v3
              with:
                  sarif_file: 'megalinter-reports/megalinter-report.sarif'
                  category: mega linter
