name: PR Steps
on:
  pull_request:
  push:
    branches:
    - master

permissions:
  contents: read
  pull-requests: read
  actions: write

concurrency:
  group: ${{github.workflows}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    container:
      image: php:7.1-apache
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: install system packages
        run: apt-get update && apt-get -y install zip git zlib1g-dev wget
      -
        name: Install PHP extensions
        run: |
          docker-php-ext-install pdo
          docker-php-ext-install zip
      -
        name: Install Composer
        run: |
          php -r "copy('http://getcomposer.org/installer', 'composer-setup.php');"
          php composer-setup.php --version=1.10.13
      -
        name: Display PHP Information
        run: |
          php -v
          php composer.phar --version
      -
        name: Check PHP sintax
        run: |
          find . -name \*.php -exec php -l "{}" \; | tee errors.log
          if grep -q "Sintax errors:" errors.log; then
            exit 1
          fi
      -
        name: Install project dependences
        run:
          php composer.phar install --no-dev --ignore-platform-reqs
  phpunit:
    name: PHP Unit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Install dependencies
        uses: php-actions/composer@v6

      - name: Unit tests
        uses: php-actions/phpunit@v3
        env:
          XDEBUG_MODE: coverage
        with:
          configuration: "phpunit.xml"
          version: ${{ vars.phpunit_version }}
          php_version : ${{ vars.unit_tests_php_version }}
          php_extensions: "xdebug"
          coverage_clover: "lcov.info"

      - name: Upload coverage artifact
        uses: actions/upload-artifact@master
        with:
          name: woo-coverage-${{ github.sha }}
          path: lcov.info

  mega_linter:
      uses: ./.github/workflows/mega-linter.yml
      with:
          RUNS_ON: ubuntu-latest
